<article class="product-card">
  <a [routerLink]="['/product', product._id]" class="image-link">
    <img
      [src]="product.images?.[0] || 'https://placehold.co/700x700?text=REIMII+3D'"
      [alt]="product.name"
    />
  </a>

  <div class="content">
    <div class="meta">
      <span>{{ product.category }}</span>
      <small *ngIf="product.customizable">Custom</small>
    </div>

    <h3>
      <a [routerLink]="['/product', product._id]">
        {{ product.name }}
      </a>
    </h3>

    <p class="small">{{ product.description }}</p>

    <div class="bottom">
      <strong>{{ product.price | currency: 'EUR' }}</strong>

      <span class="stock" *ngIf="product.stock > 0"> {{ product.stock }} uds </span>

      <span class="no-stock" *ngIf="product.stock <= 0"> Sin stock </span>
    </div>
  </div>
</article>
